*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
ul {
    list-style: none;
    font-family: 'Poppins';
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
#nav_Btn {
    display: block;
    color: #fff;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 17px;
    cursor: pointer;
}

.navBar{
    height: 84px;
    display: flex;
    background: #133009;
    padding: 0 20px;
    align-items: center;
}

.mainLogo{
    display: flex;
    /* height: 84px; */
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
    align-content: center;
}

#logoText{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}

#logoImg{  
    width: 24px
}
#logoImg img{
    width: 100%;
}

.mob_Nav a {
  position: relative;
    color: rgb(14, 13, 13);
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.mob_Nav a:hover {
  background-color: #b0dba0;
}
#nav_Btn:hover{
  background-color: transparent;
}
#mob_Links{
    display: none;
    width: 100%;
    float: right;
    text-align: left;
    /* margin-left: 20px; */
    /* margin-right: -20px; */
}
.desk_Nav{
    display: none;
}

@media screen and (min-width:600px) {

    .desk_Nav{
        display: flex;
        width: 650px;
        height: 100%;
        gap: 10px;
        justify-content: space-evenly;
        align-items: center;        
    }
    .mob_Nav{
        display: none;
    }
    .navBar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 120px;
        padding: 30px 50px;
    }

    .mainLogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* logo */

    #logoImg{  
        width: 55px;
        top: 0;
        left: 0;
    }
    #logoText{
        font-size: 50px;
        line-height: 90px;
        left: 100px;
    }

    #logoImg img{
        width: 100%;
    }

    .desk_Nav a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        text-align: center;
    }



    .dropdown {
    float: left;
    overflow: hidden;
    }
    
    .dropdown .dropbtn {
    cursor: pointer;
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    .dropdown-content a:hover {
    background-color: #ddd;
    }
    
    .show {
    display: block;
    }

    button#searchNav{
        color: #fff;
        background-color: transparent;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }
}

.mainContainer{
  padding: 60px 80px;
  text-align: center;
}

.projectHead{
  padding: 20px;
}
.projectContainer{
  padding: 0px 20px;
}
.sec1,.sec2{
  /* border: 2px transparent; */
  box-shadow: 0 0 5px rgb(93, 93, 93);
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 1px;
}

.sec1 img,.sec2 img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.infoContainer{
  padding: 20px;
  text-align: justify;
}
.infoContainer p{
  margin-top: 10px;
}

.locationC{
  margin-left: 20px;
}

.locationC ul li{
  list-style: none;
  font-weight: bold;
}

.secBtn{
  margin-left: 20px;
  margin: 20px 25px;
  border-radius: 12px;
  width: fit-content;
}
.secBtn{
  background-color: #133009;
}
.secBtn a{
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 16px;
}
.secBtn a:hover{
  border-radius: 12px;
  background-color: #d9d9d9;
  color: #133009;
}

@media screen and (min-width:600px) {
  .mainContainer h1{
    font-size: 45px;
  }
  .mainContainer p{
    font-size: 20px;
  }
  .projectContainer{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 50px;
  }
  .projectContainerSec{
    min-width: 250px;
    /* max-width: 400px; */
  }
  .projectHead h2{
    font-size: 28px;
    padding: 0px 25px;
  }
  .projectContainer{
    padding: 0px 50px;
  }
  .infoContainer{
    padding: 30px;
  }
  .infoContainer h2{
    font-size: 28px;
  }
  .infoContainer p{
    font-size: 20px;
  }
  .locationC{
    font-size: 20px;
  }
  .secBtn a{
    font-size: 20px;
    padding: 7px 20px;
  }
}


footer{
  margin-top: 50px;
  background-color: #133009;
  padding: 7px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.f1{
  display: flex;
  flex-direction: column;
}
.fS1{
  flex: 3;
}
.fS2{
  flex: 1;
}
.footerLogo{
  display: flex;
  height: 84px;
  /* padding: 10px 0px 10px 40px; */
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#flogoText{
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;

  color: #FFFFFF;
}

#flogoImg{  
  width: 30px
}
#flogoImg img{
  width: 100%;
}
.fS1Q{
  font-size: 16px;
}
.fBtn{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.fBtn #fBtn1{
  /* flex: 2; */
  background-color: #EBEAEA;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 14px;
  width: 150px;
  /* text-align: center; */
}
.fBtn button{
  font: inherit;
  /* flex: 1; */
  color: #133009;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #133009;
  width: 60px;
}
.fBtn button:hover{
  background-color:#133009;
  color: #fff;
}
.fConnect{
  width: 100%;
  margin-top: 20px;
  margin-left: 8px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.fConnect a{
  color: #fff;
  background-color: #133009;
}

.fS2{
  padding: 20px 0px;
}
.fS2 h3{
  font-weight: 400;
}
.fS2 a{
  text-decoration: none;
  color: #fff;
  display: inline;
  font-weight: 250;
  font-size: 14px;
}
.fCompany{
  margin-bottom: 10px;
}

/* .fCompany h3{
  display: none;
} */

.fCompanyPoints{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.f2{
  text-align: center;
}

.f2 h5{
  font-weight: 300;
}

.fInit{
  display: none;
}

@media screen and (min-width:600px) {
  footer{
    text-align: left;
  }
  .f1{
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
  .fS1{
    flex: 1;
    margin-left: 40px ;
  }
  .fS2{
    flex:1;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }

  .footerLogo{
    display: flex;
    height: 130px;
    /* padding: 10px 0px 10px 40px; */
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;

  }
  
  #flogoText{
    font-size: 35px;
  }
  
  #flogoImg{  
    width: 40px
  }
  #flogoImg img{
    width: 100%;
  }
  .fS1Q{
    font-size: 24px;
  }
  .fBtn{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 80%;
    justify-content: flex-start;
  }
  .fBtn #fBtn1{
    /* flex: 2; */
    background-color: #EBEAEA;
    font-size: 18px;
    padding: 8px 13px;
    border-radius: 18px;
    width: 240px;
    /* text-align: center; */
  }
  .fBtn button{
    font: inherit;
    /* flex: 1; */
    color: #133009;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #133009;
    width: 80px;
  }
  .fConnect{
    width: 260px;
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }
  .fConnect a{
    color: #fff;
    background-color: #133009;
  }
  .fConnect a svg{
    width: 25px;
    height: 25px;
  }
  
  .fS2{
    padding: 40px 0px;
  }
  .fS2 h3{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .fS2 a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: 250;
    font-size: 18px;
  }
  .fCompany{
    margin-bottom: 10px;
  }
  
  
  .f2{
    text-align: center;
  }
  
  .f2 h5{
    font-weight: 300;
    font-size: 22px;
  }

  .fInit{
    display: block;
  }

  .fCompanyPoints{
    display: block;
  }


}